<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="app">
        <div class="store">
            <input type="checkbox" class="select-all" @click="selectAll" v-model="Allchecked">
            <span class="store-name">Front-End Course</span>
        </div>
        <ul class="course-list">
            <li class="course" v-for="(item) in courseList" :key="item.id">
                <input type="checkbox" class="course-radio" v-model="item.checked">
                <div class="poster">
                    <img :src="item.poster" :alt="item.title">
                </div>
                <div class="content">
                    <div class="title">{{ item.title }}</div>
                    <div class="price-container">

                        <div class="price">${{ item.price }}</div>
                        <div class="controll-cart">
                            <button class="add-item" @click="controlCart('add',item)">+</button>
                            <input type="text" class="item-num" v-model.number="item.cart">
                            <button class="minus-item" @click="controlCart('minus',item)">-</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="control">
            <div class="select">
                <input type="checkbox" class="select-all" @click="selectAll" v-model="Allchecked">
                <span>Select All</span>
            </div>
            <div class="price-container">
                <span>Total:</span>
                <span class="price">${{ totalPrice }}</span>
                <button class="accounts">Subtotal({{ selectList.length }})</button>
                <template>
                    {{ autoAllSelect }}
                </template>
            </div>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                Allchecked:false,
                courseList: [{
                        poster: 'https://img.alicdn.com/bao/uploaded/i1/TB1VtAgdlWD3KVjSZFs3KIqkpXa_040950.jpg_80x80.jpg',
                        title: '渡一教育 CSS3 深度剖析',
                        price: 1299,
                        cart: 1,
                        id: 0,
                    },
                    {
                        poster: 'https://img.alicdn.com/bao/uploaded/i7/TB1_VJecBWD3KVjSZKPagip7FXa_045814.jpg_80x80.jpg',
                        title: '渡一教育 移动端开发课程',
                        price: 1024,
                        cart: 1,
                        id: 1595402664708
                    },
                    {
                        poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1J.Q4cQxz61VjSZFto7uDSVXa_010347.jpg_80x80.jpg',
                        title: '渡一教育 2019年 HTMLCSS零基础入学宝典',
                        price: 1,
                        cart: 1,
                        id: 1596305473062
                    },
                    {
                        poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1bHwlaCWD3KVjSZSgVbgCxVXa_032434.jpg_80x80.jpg',
                        title: '渡一教育 Web前端开发JavaScriptJs课',
                        price: 1,
                        cart: 1,
                        id: 1595413512182
                    },
                    {
                        poster: 'https://img.alicdn.com/bao/uploaded/i2/TB1MJd3g4z1gK0jSZSgnHevwpXa_014447.jpg_80x80.jpg',
                        title: 'Web前端开发高级工程师全阶班【渡一教育】',
                        price: 12999,
                        cart: 1,
                        id: 1596302161181
                    },
                    {
                        poster: 'https://img.alicdn.com/bao/uploaded/i6/TB1xPeAbwaH3KVjSZFpjaLhKpXa_105848.jpg_80x80.jpg',
                        title: '渡一教育 Java零基础入门到精通（集合，泛型等）',
                        price: 1,
                        cart: 1,
                        id: 1596300025301,
                    },
                ]
            },
            computed: {
                selectList() {
                    //get the checked item. return an array
                    return this.courseList.filter(item => item.checked)
                },
                totalPrice() {
                    let price = 0;
                    this.selectList.forEach(items => {
                        price += items.price * items.cart
                    })
                    return price;
                },
                autoAllSelect(){
                    if(this.selectList.length === this.courseList.length){
                        this.Allchecked = true
                    }else{
                        this.Allchecked = false;
                    }
                }
              
            },
            methods: {
                controlCart: function (type, item) {
                    if (type === 'minus') {
                        if (item.cart <= 1) {
                            alert('can not minus')
                        } else {
                            item.cart--;
                        }
                    } else if (type === 'add') {
                        item.cart++;
                    }
                },
                selectAll: function () {
                    console.log(this.Allchecked)
                    if (!this.Allchecked) {
                        //control the mid part checkbox status
                        console.log(this)
                        for(var i = 0; i < this.courseList.length;i++){
                            this.courseList[i].checked = true;                            
                        }
                        // this.courseList.filter(item => item.checked = true)
                    } else {
                        for(var i = 0; i < this.courseList.length;i++){
                            this.courseList[i].checked = false;                           
                        }
                        // this.courseList.filter(item => item.checked = false)
                    }

                }

            }

        })

        vm.courseList.forEach(course => {
            vm.$set(course, 'checked', false)
        })

    </script>
</body>

</html>